{
    "DISCORD_WEBHOOK_EXAMPLE": {
        "webhook": {
            "url": "",
            "format": {
                "username": "PGPool Bot",
                "content": "<username> (Level <level>): <message>"
            }
        }
        "filter": {
            "types": ['banned', 'shadowbanned'],
            "min_lvl": 30
            "max_lvl": 40
        }
    }
}