{
    "DISCORD_WEBHOOK_EXAMPLE": {
        "webhook": {
            "url": "",
            "format": {
                "username": "PGPool Bot",
                "content": "<username> (Level <level>): <message>"
            }
        }
    }
}